body {
    margin: 0;
    overflow: hidden;
}

.window-titlebar {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: #474747;
    font-size: 13px;
    font-weight: 500;
    padding: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 1px #bebebe;
    background: linear-gradient(180deg, rgb(247,247,247) 0%, rgb(222,222,222) 100%);
    -webkit-app-region: drag;
    width: 100%;
    height: 17px;
    user-select: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.window-transparent {
    /* background-color: #ffffff55; */
    background: none;
    border: none;
    -webkit-backdrop-filter: blur(40px) brightness(1) saturate(1);
    backdrop-filter: blur(40px) brightness(1) saturate(1);
}

.window-inset {
    height: 40px;
    font-size: 16px;
}

.window-disabled {
    /* background-color: rgb(247,247,247) */
    /* background: rgb(247,247,247); */
    border-color: #cfcfcf;
    color: #afafaf;
}

.window-transparent.window-disabled {
    background: none;
    background-color: #ffffff88;
}

#window-contents {
    /* margin: 8px 8px 0px 8px; */
    z-index: 10;
    position: relative;
    overflow: scroll;
}

.window-passtrough {
    /* margin-top: -21px; */
}

.window-toolbar {
    height: auto;
    flex-direction: column;
}