<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>First time setup</title>
        <!-- TODO: remove next line in production -->
        <script src="http://localhost:8097"></script> <!-- React dev tools -->
        <script>
            var exports = {__esModule: true} 
        </script>
        <link rel="stylesheet" href="form.css">
    </head>
    <body>
        <div id="form"></div>

        <script src="first-time-setup.js"></script>

        <!-- React -->
        <!-- <script src="../../../node_modules/react/umd/react.development.js"></script> -->
        <!-- <script src="../../../node_modules/react-dom/umd/react-dom.development.js"></script> -->
        <!-- React components -->
        <!-- <script src="../ui.js"></script> -->

        <!-- <script data-main="first-time-setup" src="require.js"></script> -->
    </body>
</html>