.form-button {
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    text-align: center;
    background-color: #d6d6d6;
    font-size: 32px;
    color: #ffffff;
    -webkit-transition: background 0.2s ease-in 0;
    transition: background 0.2s ease-in 0;
}
.form-button:hover {
    background-color: #c2c2c2;
}
.form-button.form-ok {
    background-color: #5bd866;
}
.form-button.form-ok:hover {
    background-color: #59b861;
}
.form-field-container {

}
.form-field-label {

}
.form-field-input {

}
.form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
}