<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>This machine's player</title>
        <link rel="stylesheet" href="../styles/layout.css">
        <link rel="stylesheet" href="../styles/window.css">
        <link rel="stylesheet" href="../styles/player.css">
        <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
        <!-- TODO: remove next line in production -->
        <script src="http://localhost:8097"></script> <!-- React dev tools -->
        <script>
            var exports = {__esModule: true} 
        </script>
    </head>
    <body>
        <div id="mount"></div>

        <script src="player.js"></script>
    </body>
</html>